body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #161718;
    background: #e2e8f2;
}

.navbar-brand {
    width: 180px;
    height: 50px;
    background: url('../images/logo-header.png') no-repeat center;
    background-size: 141px 28px;
}

.highlight pre {
    font-size: 13px;
    line-height: 1.42857143;
    display: block;
    margin: 0 0 10px;
    padding: 19px;
    word-wrap: inherit;
    word-break: break-all;
    color: #fff;
    border: inherit;
    border-radius: inherit;
    background-color: inherit;
}

code {
    font-size: 90%;
    font-weight: 700;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    background-color: #333;
}

h1 {
    color: #333;
}

h2, h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* centered columns styles */
.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.main-container {
    font-size: 18px;
    line-height: 1.618;
        word-break: break-all;
        word-break: break-word;
    -ms-word-break: break-all;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    color: #555;
        -ms-hyphens: auto;
}

.main-container p {
    margin: 2em 0 0.5em 0;
}

.main-container ul li {
    margin: 2em 0 0.25em 0;
}

.main-container h1 {
    font-size: 3.7rem;
    line-height: normal;
    margin-bottom: 13px;
}

.main-container .date-published {
    font-size: 16px;
    margin: 0;
    color: #939393;
}

.main-container .highlight {
    border-radius: 4px;
}