<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Morz Project | {{ .Title }}</title>
    <meta name="description" content="I love open source">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css_js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css_js/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/css_js/app.css" rel="stylesheet">
</head>