<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-centered">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="{{ .Site.BaseURL }}">
                            <img src="{{ .Site.BaseURL }}/images/logo.svg"/>
                        </a>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="top-navigation">
                            <a href="/post" class="nowrap"
                               nowrap="nowrap"><i class="fa fa-database top-link my-archive"></i> Archive</a>

                            <a href="https://github.com/blackrosezy" target="_blank" class="nowrap"
                               nowrap="nowrap"><i class="fa fa-github top-link my-github"></i> Github</a>

                            <a href="/contact" class="nowrap"
                               nowrap="nowrap"><i class="fa fa-envelope top-link my-contact"></i> Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>