<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Morz Project | Blog</title>
    <meta name="description" content="I love open source">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8 col-centered">
            <div class="row">
                <div class="col-md-12">
                    {{ range first 5 .Data.Pages }}
                    <div class="preview">
                        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                        <p class="date-published">{{ .Date.Format "January 2, 2006" }}</p>
                        {{ .Summary }}
                        {{ if .Truncated }}
                        <div class="read-more-link">
                            <a href="{{ .RelPermalink }}">[ + Read More ]</a>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6" style="text-align: right">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>